<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        html,
        body {
            height: 100%;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div class="container-fluid border p-2 h-100 ">
        <br>
        <div class="row h-100">
            <div class="col-2 h-100">
                <div class="list-group">
                    <a href="/pages/office" target="content" class="list-group-item bg-info ">Office</a>
                    <a href="/pages/employee" target="content" class="list-group-item bg-secondary ">Employees</a>
                </div>
            </div>
            <div class="col-10 border-2 h-100">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, minus ex? Similique magnam, voluptatibus dolore beatae consectetur eum voluptatem illo ducimus, culpa excepturi animi sequi, ad id commodi recusandae? Consequatur!</p>
                <iframe name="content" class=" h-100 w-100" src="/pages/office" ></iframe>
            </div>
        </div>
        
    </div>








    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>



